<%- include("header") -%>

  <div class="box" id="heading">
    <h1><%= listTitle %><span>...Too do list!</span></h1>
  </div>
  <div class="box">
    <% tasks.forEach(function(task) { %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox"class="checkbox" name="checkbox1">
        <p><%=  task.name %></p> 
        <button type="submit" class="btn" name="checkbox" value="<%= task._id %>"><i class="fa-solid  fa-circle-minus fa-3x"></i></button>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    </form>
      <% }) %>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" class="input" autocomplete="off">
        <button type="submit"class="add_btn" name="list" value="<%=listTitle%>">+</button>
      </form>
  </div>
<%- include("footer") -%>
